body {
  margin-left: 2%;
  margin-right: 2%;
}

.article-list {
  margin-left: 4%;
  margin-right: 4%;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.header {
  margin-left: 0;
  margin-right: 0;
  padding-left: 2%;
  padding-right: 2%;
  z-index: 1;
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #55C500;
}

.header h1 {
  margin: 0;
}

.search-form {
  width: 200px;
  height: 30px;
}

.search-form input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
  border: none;
}

ul {
  display: inline-flex;
  justify-content: flex-start; /* Align the tabs to the left */
  padding: 10px;
  background-color: #55C500;
  list-style-type: none; /* Remove the bullets */
  margin: 0; /* Remove the default margin */
  flex-grow: 1; /* Let the ul take the remaining space after the h1 and form */
}

ul li {
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center; /* Center align the text within the tabs */
  transition: background-color 0.2s;
}

ul li:hover {
  border-bottom: 3px solid #3D8B00; /* Add underline on hover */
}

ul li.active {
  background-color: #55C500;
  color: #f2f2f2; /* Change the text color of the active tab */
  border-bottom: 3px solid #3D8B00; /* Add underline for active tab */
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.article-card {
  width: 300px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-info p {
  font-size: 16px;
  color: #333333;
}

.article-details h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.article-date {
  color: #888888;
  font-size: 14px;
  margin-bottom: 5px;
}

.article-description {
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}

.read-more-btn {
  display: block;
  background-color: #007bff;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.2s;
}

.read-more-btn:hover {
  background-color: #0056b3;
}

.tabs {
  z-index: 1;
  /* 他のスタイル */
}


h1, h2, h3, .card-header h3 {
    font-size: 2em;
    font-weight: bold;
}

.card {
    border: 1px solid #ddd;
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05);
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
}

.card-header h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: .5em;
}

.card-body .card-body p {
    color: #333;
    margin-bottom: 1em;
}
