{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'trix/dist/trix.css' %}">
    <script type="text/javascript" src="{% static 'trix/dist/trix.js' %}"></script>
  </head>

  <body>

    <nav>
      <div class="header">
        <div class="header-container">
          <h1><a href="{% url 'blog-home' %}">Qiita風記事一覧</a></h1>
          <form
          action="#"
          class="search-form"
          method="get"
          style="position: absolute; right: 80px; top:30px"
      >
          <input name="search" placeholder="Search posts..." type="text" />
      </form>
          <ul>
            <li>Tab1</li>
            <li>Tab2</li>
            <li>Tab3</li>
            <li>Tab4</li>
            <li><a href="/post/new/">新しい投稿</a></li>
            <li><a href="/contact/">連絡先</a></li>
<li><a href="/account_info/">アカウント情報</a></li>
<li class="mt-3 mb-3"><a href="{% url 'exam' %}" class="btn btn-primary">試験を受ける</a></li>
          </ul>

{% if user.is_authenticated %}
    <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
{% else %}
    <li><a href="{% url 'account_login' %}">ログイン</a></li>
{% endif %}
<a href="{% url 'account_signup' %}">ユーザー登録</a>
        </div>
      </div>
    </nav>





    {% block content %}{% endblock content %}

    <footer>
      <!-- Insert footer items here -->
    </footer>

    <script src=""></script>
  </body>
