{% extends "blog/base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<html>
  <body>
    <h2>Articles</h2>
    <div class="article-list">
      <div>
        {% for post in posts %}
        <a href="{% url 'post_detail' pk=post.pk %}">
          <div class="card mt-4">
            <div class="card-header">
              <h3>{{ post.title }}</h3>
            </div>
            <p>{{ post.text }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
{% endblock content %}
